html {
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  background-color: black;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
  position: relative;
}

a:hover {
  color: white;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*header*/

header {
display: flex;
align-items: center;
align-content: center;
max-width: 100%;
height: 4rem;
width: 100%;
background-color: black;
color: white;
font-family: "noto sans"
}

header .head {
  display: flex;
  max-width: 100%;
  flex-grow: 1;
  height: 2rem;
  align-items: center;
}

.head img {
  padding-left: 1.5rem;
  height: 3rem;
  padding-right: 1rem;

}

.headnav {
  margin-right: 2rem;
}

.headnav ul {
  display: inline-flex;
  justify-content: space-between;
  padding: 16px;
  list-style: none;
}

.headnav li {
  padding: 1rem;
  transition-duration: 0.75s;
  transition-delay: 150ms;
}

/*hero element*/

.hero {
  background-image: url("../images/mountainswirl.jpg");
  height: 36rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.hero_text {
  text-align: center;
  font-family: "Fjalla one";
  font-size: 3rem;
  background-color: black;
  color: white;
  flex-grow: 1;
  opacity: 0.5;


}

.hero_text span {
  font-size: 2rem;

}

/*About page- Hero*/

.hero1 {
  background-image: url("../images/drawing-2.png");
  height: 36rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_text1 {
  text-align: center;
  font-family: "Fjalla one";
  font-size: 3rem;
  background-color: black;
  color: white;
  flex-grow: 1;
  opacity: 0.5;
}

/*About page nav link*/

.click {

}

.click h1 {
  display: flex;
  justify-content: center;
  font-family: "Fjalla one";
  font-size: 3rem;
  color: white;
}

.click a {
  color: white;
  opacity: 0.5;
  transition-duration: 0.75s;
  transition-delay: 150ms;
}

 .click a:visited {
  color: white;
}

.click a:hover {
  opacity: 1;
  font-size: 3.5rem;
}


/*Description Container*/

.Description {
  background-color: black;
  color: white;
  display: flex;
  padding: 4rem 10rem;
  font-family: "noto sans";
  justify-content: space-between;
}

.Description_container {
  text-align: center;
  max-width: 30%;
  border-left: solid white;
  border-right: solid white;
  transition-duration: 0.75s;
  transition-delay: 150ms;
}

.Description_container:hover {
  border-left: none;
  border-right: none;
  border-top: solid white;
  border-bottom: solid white;
}

.Description_container h1 {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

/*about page description*/

.description1 {
  display: flex;
  justify-content: center;
  margin: 8rem 0;
  background-color: white;
  scroll-behavior: smooth;
}

.desimg img {
  max-width: 100%;
  height: 10rem;
}

/*Footer*/

footer {
  background-color: #121416;

  padding-top: 5rem;
  color: white;
  font-family: "noto sans";
}

.footer_logo {
  display: flex;
  justify-content: center;
}

.footer_logo img {
  max-width: 100%;
  max-height: 8rem;
  padding-bottom: 1.5rem;


}

.footer_nav ul {
  display: flex;
  justify-content: center;
}

.footer_nav li {
  margin: 0 0.5rem;

}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  padding: 2rem 0;
}

.copyright span {
  color: #5b5c5d;
}

/* Contact title */

.contact_title h1 {
  text-align: center;
  font-family: "fjalla one";
  color: white;
  font-size: 3rem;
  padding: 4rem 0;

}

.contact_form {
  display: flex;
  justify-content: center;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

input {
  height: 45px;
}

form .submit {
  font-family: "fjalla one";
  border-color: transparent;
  color: white;
  opacity: 0.5;
  transition-duration: 0.75s;
  transition-delay: 150ms;
}

form .submit:hover {
  opacity: 1;
  font-size: 2rem;
}
